.defaultCard {
    padding: 3rem;
    height: 37.5rem;
    border-radius: 25px;
    color: var(--wht);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
        font-size: 3.5rem;
        line-height: 5rem;
    }
}

.darkCard {
    width: 60%;
    background-color: var(--dark-purp);
}

.lightCard {
    width: 40%;
    background-color: var(--purp);
}

@media screen and (max-width: 1330px) {
    .darkCard {
        display: none;
    }
    .lightCard {
        width: 100%;
    }
    .defaultCard {
        height: 25rem;
        p {
            font-size: 2.5rem;
            line-height: 3.5rem;
        }
    
    }
}
@media screen and (min-width: 1331px) {
    .darkCard {
        display: block;
    }
    .lightCard {
        width: 40%;
    }
    .defaultCard {
        height: 37.5rem;
        p {
            font-size: 3.5rem;
            line-height: 5rem;
        }
    
    }
}

.icon {
    background-color: var(--blk);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    // glow effect
    svg {
        width: 2.5rem;
        height: 2.5rem;
    }
}