.pageHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 16px;
    @media screen and (max-width: 950px) {
        flex-direction: column;
        gap: 2rem;
    }
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 50%;
    @media screen and (max-width: 950px) {
        width: 100%;
    }

    >h1{
        font-size: 72px;
        font-weight: 700;
        font-weight: medium;
        line-height: 1.05;
    }

    >p{
        font-size: 17px;
        font-weight: medium;

    }
    @media screen and (max-width: 950px) {
        width: 100%;
        >h1{
            font-size: 60px;
        }
        >p{
            font-size: 1.25rem;
        }
    }
    @media screen and (max-width: 450px) {
        >h1{
            font-size: 40px;
        }
        >p{
            font-size: 1rem;
        }
        
    }
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 950px) {
        width: 100%;
    }
}