.sidebar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.side-title {
    font-weight: 600;
    font-size: 30px;
}

.sidebaritems {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    gap: .5rem;

    a {
        border: 1.5px solid var(--soft);
        border-radius: 5px;
        padding: 3px 6px;
    }
}