.sidebar {
    display: flex;
    flex-direction: column;
    width: 19.375rem;
    height: 100%;
    z-index: -1;
    padding: 1rem;
}

.side-title {
    font-weight: 600;
    font-size: 30px;
}

.sidebaritems {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}