.sidebar {
    display: flex;
    flex-direction: column;
}

.side-title {
    font-weight: 600;
    font-size: 30px;
}

.sidebaritems {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    gap: .5rem;
    
    button {
        display: flex;
        text-align: start;
        width: 100%;
        border: 1.5px solid var(--soft);
        border-radius: 5px;
        padding: 3px 10px;

        &:hover {
            box-shadow: 0 0 1px var(--blk);
            color: inherit;
        }
    }
}