DATABASE_URL=mysql://root:{password}@localhost:3306/{DB_NAME}
NEXTAUTH_SECRET="openssl rand -hex 64"
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GITHUB_CLIENT_ID=your_github_client_id_here
GITHUB_CLIENT_SECRET=your_github_client_secret_here
APPLE_CLIENT_ID=your_apple_id_here
APPLE_CLIENT_SECRET=your_apple_secret_here
STRIPE_SECRET_KEY=1
STRIPE_WEBHOOK_SECRET=1
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=1
NEXT_PUBLIC_STRIPE_PRO_PRICE_ID=1
NEXT_PUBLIC_STRIPE_MAX_PRICE_ID=1
NEXT_PUBLIC_STRIPE_ULTRA_PRICE_ID=1