DATABASE_URL=mysql://root@localhost:3306/sitesculptor
NEXTAUTH_SECRET=your_super_secret_key_here
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_super_secret_key_here
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=your_github_client_id_here
GITHUB_CLIENT_SECRET=your_github_client_secret_here
APPLE_CLIENT_ID=your_apple_id_here
APPLE_CLIENT_SECRET=your_apple_secret_here
VERCEL_URL=https://your-project-url.vercel.app