DATABASE_URL=mysql://root:{wachtwoord}@localhost:3306/{DB_NAME}
NEXTAUTH_SECRET=your_super_secret_key_here
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_super_secret_key_here
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=you_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GITHUB_CLIENT_ID=your_github_client_id_here
GITHUB_CLIENT_SECRET=your_github_client_secret_here
APPLE_CLIENT_ID=your_apple_id_here
APPLE_CLIENT_SECRET=your_apple_secret_here
VERCEL_URL=https://your-project-url.vercel.app