.sm-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 .5rem;

    h3 {
        font-size: 1.25rem;
    }

    p {
        color: var(--light);
    }

    .sm-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: inherit;
        align-items: center;
        padding: 5px;
    }
}