.defaultButton, .toggleButtonDef {
    background-color: var(--wht);
    padding: 8px 16px;
    border-radius: 5px;
    color: var(--txt);
    transition: 0.3s ease-in-out;
    max-width: max-content;

    &:hover {
        background-color: var(--sec);
    }
}

svg {
    display: inline-block;
}

.primaryButton, .toggleButton {
    background-color: var(--prm);
    color: var(--wht);


    &:hover {
        background-color: var(--acc);
    }

}

.secondaryButton {
    background-color: var(--sec);
    color: var(--txt);

    &:hover {
        background-color: var(--prm);
    }
}
.outlineButton {
    background-color: transparent;
    color: var(--txt);
    background-color: var(--sec);

    &:hover {
        background-color: var(--txt);
        color: var(--wht);
    }
}
.linkButton, .toggleButtonLink {
    background-color: transparent;
    color: var(--txt);
    padding: 16px;

    &:hover{
        color: var(--acc);
        background-color: transparent;
    }
}