.defaultButton {
    background-color: var(--wht);
    padding: 10px;
    border-radius: 5px;
    color: var(--txt);

    transition: 0.3s ease-in-out;

    &:hover {
        background-color: var(--sec);
    }
}

svg {
    display: inline-block;
}

.primaryButton {
    background-color: var(--prm);
    color: var(--wht);

    padding: 10px;

    &:hover {
        background-color: var(--acc);
    }

}


.secondaryButton {
    background-color: var(--sec);
    color: var(--txt);

    &:hover {
        background-color: var(--prm);
    }
}

.linkButton {
    background-color: transparent;
    color: var(--txt);
    padding: 10px;
    margin: 0 25px;

    &:hover{
        color: var(--acc);
        background-color: transparent;
    }
}