.navBar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    top: 0;
    background-color: var(--bg);
    z-index: 1;

    .navLinks {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    .logoImage {
        width: auto;
        height: auto;
    }

    .navMenu {
        display: flex;
        gap: 64px;
        justify-content: flex-end;
        align-items: center;

        
    }
    @media screen and (max-width: 1330px) {
        .hamburgerIcon {
            display: block;
            cursor: pointer;

            &::before,
            &::after {
                content: '';
                display: block;
                width: 30px;
                height: 3px;
                background-color: #333;
                margin: 6px 0;
            }
        }

        .navMenu {
            display: none; // Hide the menu links by default
        }
    }
}

@media screen and (max-width: 1330px) {
    .hamburger-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .navMenu.is-responsive {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        z-index: 1;
        background-color: var(--bg);
    }

    .navBar {
        flex-direction: column;
    }
    .navLinks{
        display: flex;
        align-items: center;
        
        width: 100%;
        height: 100%;

        >button{
            width: 50%;
            margin: 0;
        }
    }

    .navMenu.is-responsive .navLinks {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}