.navbarselected {
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    padding-block: 1rem;
    width: 100%;
    .navbarselected-items {
        display: flex;
        gap: 1rem;
    }
}