.sidenavbutton {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: 0.1rem solid #00000010;
    font-weight: 500;
}