:root {
    // Base Colors
    --acc: #4759FF;
    --prm: #463ACB;
    --sec: #DDDBFF;
    --txt: #050316;
    --border: #acacac;
    --wht: #fff;

    --soft: #E2E8F0;
    --link: #0000EE;
    --warning: #ff0000;
    --light: #7e7e7e;
    --trans: #AEAEAE;
    --light-bg: #e0e0e0;
    --input-highlight: #3498db;
    --dark-grey: #333;
    --light-grey: #ccc;
    --pagemodal-backdrop: rgba(0, 0, 0, 0.2);
    --faint-border: #00000010;
    --faint-border-20: #dfdfdf10;
    --content-bg: #e0e0e0;

    --blk: #050316;

    --bg: #ffffff;

    --purp: #42364E;
    --dark-purp: rgba(66, 54, 78, 0.25);
    // Faded Colors
    --b-fade: #00000049;
    --b2-fade: #000000d5;

    // Gradient Colors
    --s-gray: #EDEDED;
    --e-gray: #B3B3B3;
    --s-purp: #EDEDED;
    --m-purp: #9747FF;
    --e-purp: #4E3ABA;
    --s-pink: #EDEDED;
    --m-pink: #A24688;
    --e-pink: #DB4E66;

    // Gradient Angles
    --45: 45deg;
    --90: 90deg;
    --30: 30deg;
    --180: 180deg;

    // Gradients
    --gr-gray: linear-gradient(var(--90), var(--s-gray), var(--e-gray));
    --gr-purp: linear-gradient(var(--45), var(--s-purp), var(--m-purp), var(--e-purp));
    --gr-pink: linear-gradient(var(--45), var(--s-pink), var(--m-pink), var(--e-pink));
}

.dark {

    // Base Colors
    --acc: #4759FF;
    --prm: #463ACB;
    --sec: #DDDBFF;
    --txt: #fff;
    --wht: #000000;
    --soft: #28292b;
    --light-bg: #e0e0e0;

    --bg: #000000;

    --content-bg: #1f1f1f;

    // Faded Colors
    --b-fade: #ffffff49;
    --b2-fade: #ffffffd5;

    // Gradient Colors
    --s-gray: #EDEDED;
    --e-gray: #B3B3B3;
    --s-purp: #EDEDED;
    --m-purp: #9747FF;
    --e-purp: #4E3ABA;
    --s-pink: #EDEDED;
    --m-pink: #A24688;
    --e-pink: #DB4E66;

    // Gradient Angles
    --45: 45deg;
    --90: 90deg;
    --30: 30deg;
    --180: 180deg;

    // Gradients
    --gr-gray: linear-gradient(var(--90), var(--s-gray), var(--e-gray));
    --gr-purp: linear-gradient(var(--45), var(--s-purp), var(--m-purp), var(--e-purp));
    --gr-pink: linear-gradient(var(--45), var(--s-pink), var(--m-pink), var(--e-pink));

}