.defaultCard {
    padding: 1rem;
    height: 37.5rem;
    border-radius: 25px;
}

.darkCard {
    width: 60%;
    background-color: var(--dark-purp);
}

.lightCard {
    width: 40%;
    background-color: var(--purp);
}