.pageHeader{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    >h1{
        font-size: 80px;
        font-weight: medium;
        line-height: 90px;
        letter-spacing: 0%;
        width: 980px;
    }

    >p{
        font-size: 1.5rem;
        font-weight: medium;
        line-height: 34px;
        width: 980px;

    }
    .getstarted-button {
        width: 100%;
        max-width: 300px;
    }
}