.pageHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1% 5%;

    >h1{
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
    }

    >p{
        font-size: .9rem;
        font-style: italic;
        max-width: 51%;
        text-align: center;
    }
}