.barstyling {
  background-color: var(--wht);
  box-shadow: 0px 0px 2px #AEAEAE;
  border-radius: 0.375rem 0rem 0 0;
}

$sidenavWidth: 17.5rem;
$topNavHeight: 4rem;
$defSpacing: 1%;

.dashboard-main {
  display: grid;
  width: 100svw;
  height: 100svh;
  grid-template-areas:
    "sidebar topbar"
    "sidebar container";
  grid-template-columns: $sidenavWidth 1fr;
  grid-template-rows: 0 1fr;
  overflow: hidden;
}

body {
  overflow: hidden;
}

.sidebar {
  grid-area: sidebar;
}

.navbar {
  grid-area: topbar;
  transform: translateZ(2px);
}

.content {
  grid-area: container;
  overflow-x: hidden;
  padding: .5rem 1.5rem;
  overflow-y: auto;
  padding-bottom: 10%; //Scuffed solution

  h1, h3{
    font-weight: bold;
  }

  h1{
    font-size: 2.5rem;
    margin-bottom: -20px;
  }

  h3{
    font-size: 1.5rem;
    color: var(--b2-fade);
  }
}

.project-row{
  display: flex;
  flex-flow: row nowrap;
  gap: $defSpacing;
}
