$sidenavWidth: 17.5rem;
$topNavHeight: 4rem;

.editor-container {
    display: grid;
    width: 100svw;
    height: 100svh;
    grid-template-areas:
      "sidebar topbar"
      "sidebar container";
    grid-template-columns: $sidenavWidth 1fr;
    grid-template-rows: $topNavHeight 1fr;
  }
  
  .sidebar {
    grid-area: sidebar;
  }

  .topbar {
    grid-area: topbar;
  }
  
  .drag-container {
    grid-area: container;
    overflow: auto;
  }