$sidenavWidth: 20rem;
$topNavHeight: 4rem;

.layout {
  padding-inline: 8rem;
  background-color: var(--bg);
  color: var(--txt);
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 4.5rem;
    margin-top: 3rem;
    gap: 5rem;
  }
  @media screen and (max-width: 1330px) {
    padding: 1rem;
    main {
      padding-block: 3rem;
      gap: 3rem;
    }
  }
  @media screen and (max-width: 768px) {
    padding-inline: 1rem;
    main {
      padding-block: 1.5rem;
    }
  }
}

.topcontent {
  width: 100%;
}
  
